<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>Index page</title>
</head>
<body>

    <form class="form-horizontal" action="{% url 'diapers:search' %}" method="post">
        {% csrf_token %}
        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="brand"></label>
          <div class="col-md-4">
            <select id="brand" name="brand" class="form-control">
              <option value="-1">Бренд</option>
                {% for brand_item in brands %}
                  <option value="{{brand_item.id}}">{{brand_item.name}}</option>
                {% endfor %}
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="series"></label>
          <div class="col-md-4">
            <select id="series" name="series" class="form-control">
                <option value="-1">Серия</option>
                {% for series_item in series %}
                  <option value="{{series_item.id}}">{{series_item.name}}</option>
                {% endfor %}
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="size"></label>
          <div class="col-md-4">
            <select id="size" name="size" class="form-control">
              <option value="-1">Размер</option>
                {% for size_item in sizes %}
                  <option value="{{size_item}}">{{size_item}}</option>
                {% endfor %}
            </select>
          </div>
        </div>


        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="submit"></label>
          <div class="col-md-4">
            <button id="submit" class="btn btn-primary">Найти</button>
          </div>
        </div>



    </form>

</body>

<script src="{% static 'diapers/js/jquery.min.js' %}"  type="text/javascript"></script>
<script src="{% static 'diapers/js/script.js' %}"  type="text/javascript"></script>


</html>




