<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}

    <link rel="icon" href="../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'diapers/css/cover_product.css' %}" />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

         <div class="masthead clearfix ">
             <nav class="navbar navbar-default">
             <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'diapers:index' %}">
              Главная
              </a>
            </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Свяжитесь с нами</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
                 </nav>
          </div>
          <div class="inner cover   table-responsive ">

                <h3>Где купить самые дешевые подгузники {{header.brand.name}} {{header.series.name}} {{header.size}}</h3> <br>
                <p style="text-align:left">
                {{best.product.brand.name}}
                    {% ifnotequal stock_item.product.series.name "Без серии"|stringformat:"s"%}
                                    {{ stock_item.product.series.name }}
                    {% endifnotequal %}
                    {{ best.product.size }}
                ({{ best.product.min_weight|floatformat  }} - {{ best.product.max_weight|floatformat  }} кг) упаковку на
                {{ best.product.count }} шт. в магазине {{ best.seller }}<br>
                Цена за штуку: {{ best.price_unit|floatformat:-2 }} руб<br>
                Цена за упаковку: {{ best.price_full|floatformat }} руб<br>
                Выгода: до {{ profit_percent|floatformat:-2 }}% ({{ profit_rub|floatformat:-2 }} руб за штуку)<br>
                <a class="btn btn-default" target="_blank" href="{{ best.seller.url }}{{ best.url }}">Купить</a></p>
                </br>
                 </br>

                <table>
                    <thead>
                        <tr>
                            <th class="hidden-md hidden-lg">Подгузник</th>
                            <th class="hidden-md hidden-lg">Штук</th>
                            <th class="hidden-md hidden-lg">Цена</th>
                            <th class="hidden-md hidden-lg">За штуку</th>
                            <th class="hidden-md hidden-lg">Магазин</th>

                            <th class="hidden-xs hidden-sm">Бренд</th>
                            <th class="hidden-xs hidden-sm">Серия</th>
                            <th class="hidden-xs hidden-sm">Размер</th>
                            <th class="hidden-xs hidden-sm">Вес</th>
                            <th class="hidden-xs hidden-sm">Тип</th>
                            <th class="hidden-xs hidden-sm">Упаковка</th>
                            <th class="hidden-xs hidden-sm">За упаковку</th>
                            <th class="hidden-xs hidden-sm">За штуку</th>
                            <th class="hidden-xs hidden-sm">Продавец</th>
                        </tr>
                    </thead>
                    {% for stock_item in stock_list %}
                        <tr>
                            <td class="hidden-md hidden-lg">{{ stock_item.product.brand.name }} {{ stock_item.product.series }} {{ stock_item.product.size }}</td>

                            <td class="hidden-xs hidden-sm">{{ stock_item.product.brand.name }}</td>
                            <td class="hidden-xs hidden-sm">
                                {% ifnotequal stock_item.product.series.name "Без серии"|stringformat:"s"%}
                                    {{ stock_item.product.series.name }}
                                {% else %}
                                    -
                                {% endifnotequal %}


                            </td>
                            <td class="hidden-xs hidden-sm">{{ stock_item.product.size }}</td>
                            <td class="hidden-xs hidden-sm">
                                {{ stock_item.product.min_weight|floatformat  }}{% if stock_item.product.max_weight != -1 %}
                                    - {{ stock_item.product.max_weight|floatformat  }} кг
                                {% else %}+ кг
                                {% endif %}
                            </td>
                            <td>{{ stock_item.product.type.type_rus }}
                                {% ifnotequal stock_item.product.gender|stringformat:"s" "unisex"%}
                                    {{ stock_item.product.gender.gender_rus }}
                                {% endifnotequal %}
                                </td>
                            <td>{{ stock_item.product.count }} шт.</td>
                            <td>{{ stock_item.price_full|floatformat }} руб.</td>
                            <td>{{ stock_item.price_unit|floatformat:-2 }} руб.</td>
                            <td><a href="{{ stock_item.seller.url }}{{ stock_item.url }}">{{ stock_item.seller }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>



          </div>
          <div class="mastfoot">
            <div class="inner">
             <!-- <p></p> -->
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="{% static 'diapers/js/jquery.min.js' %}"  type="text/javascript"></script>
    <script src="{% static 'diapers/js/script.js' %}"  type="text/javascript"></script>
  </body>
</html>

