<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
</head>
<body>


<ol>
<li>Get product previews from new store: (<b>parse_shop_catalog</b>) - &#10003;</li>
    <ul>
        <li>Korablik &#10003;</li>
        <li>Detmir &#10003;</li>
    </ul>
<li>Create products from previews (<b>manual_parse</b>) and save urls for stock_items for the store if they don't exist </li>
<li>Get prices and availability for all seller's urls</li>
<li>Show best price for every product</li>
<li>Check if there are any new products on seller's catalog and get product previews for them</li>
<li>Create products from previews (<b>manual_parse</b>) and save urls for stock_items for the store if they don't exist </li>
<li>Update prices and availability for all seller's urls</li>
<li>Deploy to the server</li>
<li>Add new store</li>
</ol>


</body>
</html>