<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO list</title>
</head>
<body>
<a href="{% url 'diapers:index' %}">index</a>
<br>
<br>
<ol>
<li>Чеклист добавления Кораблика</li>
    <ul>
        <li>Обновить урлы на категории &#10003;</li>
        <li>Добавить все бренды &#10003;</li>
        <li>Проверить, что заведены все виды для брендов &#10003;</li>
        <li>Спарсить все товары всех брендов</li>
        <li>Добавить версионирование дампов</li>
        <li>Обработать все товары</li>
    </ul>
</ol>

</body>
</html>